### 행정구역 정보 분석 및 시각화
1. pandas의 read_csv() 함수로 csv file을 읽어서 DataFrame 객체로 생성하고 데이터 확인하기
2. Data Selection : loc[] / iloc[] 를 사용해서 특정 Row와 Column 선택하기
3. 컬럼명 변경하기
4. DataFrame 객체를 Excel file로 저장하기
5. Data Grouping : groupby() 함수를 사용해서 그룹핑하기
6. 상관관계 분석 : corr() 함수를 사용해서 인구수와 면적간의 상관관계 
7. 시각화 : seaborn의 함수들을 사용해서 Plot 그리기

In [1]:
import pandas as pd
print(pd.__version__)

1.5.3

In [2]:
data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
# 행과열 확인
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
(229, 8)

In [3]:
data.head(3)

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시

In [4]:
data.tail(4)

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [5]:
data.sample(3)

     Unnamed: 0     인구수 shortName   x  y      면적  광역시도 행정구역
6             6   24551        양양  10  2  628.68   강원도  양양군
8             8  313851        원주  10  7  867.30   강원도  원주시
212         212  281938        아산   3  9  542.20  충청남도  아산시

In [6]:
print(f'컬럼명 : {data.columns}')
print(f'인덱스 : {data.index}')

컬럼명 : Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
인덱스 : RangeIndex(start=0, stop=229, step=1)

In [7]:
print(type(data.values))
data.values

<class 'numpy.ndarray'>

array([[0, 202520, '강릉', ..., 1040.07, '강원도', '강릉시'],
       [1, 25589, '고성(강원)', ..., 664.19, '강원도', '고성군'],
       [2, 86747, '동해', ..., 180.01, '강원도', '동해시'],
       ...,
       [226, 62809, '진천', ..., 406.08, '충청북도', '진천군'],
       [227, 790216, '청주', ..., 932.51, '충청북도', '청주시'],
       [228, 198077, '충주', ..., 983.7, '충청북도', '충주시']], dtype=object)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [9]:
# 모든 컬럼의 타입 확인
data.dtypes

Unnamed: 0      int64
인구수             int64
shortName      object
x               int64
y               int64
면적            float64
광역시도           object
행정구역           object
dtype: object

In [10]:
# 특정컬럼(인구수)의 타입 확인
print(type(data['인구수']))
data['인구수'].dtypes

<class 'pandas.core.series.Series'>

dtype('int64')

In [11]:
# import numpy as np
# data.describe(include=[np.number]) 와 동일한 결과
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [12]:
data.describe(include=[object])

       shortName 광역시도 행정구역
count        229  229  229
unique       229   17  206
top           강릉  경기도   동구
freq           1   31    6

In [13]:
data.loc[data['행정구역'] == '동구']

     Unnamed: 0     인구수 shortName   x   y      면적   광역시도 행정구역
92           92   97571      광주동구   3  20   48.86  광주광역시   동구
98           98  330830      대구동구  11  13  182.35  대구광역시   동구
104         104  236524      대전동구   5  13  136.80  대전광역시   동구
112         112   85952      부산동구  10  17    9.77  부산광역시   동구
151         151  164738      울산동구  12  14   35.77  울산광역시   동구
159         159   68950      인천동구   1   5    7.05  인천광역시   동구

In [14]:
data.describe(include='all')

,Unnamed: 0,인구수,shortName,x,y,면적,광역시도,행정구역
count,229.000000,2.290000e+02,229,229.000000,229.000000,229.000000,229,229
unique,NaN,NaN,229,NaN,NaN,NaN,17,206
top,NaN,NaN,강릉,NaN,NaN,NaN,경기도,동구
freq,NaN,NaN,1,NaN,NaN,NaN,31,6
mean,114.000000,2.110898e+05,NaN,6.117904,11.262009,435.419795,NaN,NaN
std,66.250786,2.074378e+05,NaN,3.320469,6.040898,381.612549,NaN,NaN
min,0.000000,8.392000e+03,NaN,0.000000,0.000000,2.800000,NaN,NaN
25%,57.000000,4.955900e+04,NaN,3.000000,6.000000,54.000000,NaN,NaN
50%,114.000000,1.401590e+05,NaN,6.000000,11.000000,436.400000,NaN,NaN
75%,171.000000,3.216180e+05,NaN,9.000000,16.000000,692.800000,NaN,NaN
max,228.000000,1.125461e+06,NaN,13.000000,25.000000,1817.940000,NaN,NaN

### Data Selection

In [15]:
# 인구수 1개의 컬럼 선택
print(type(data['인구수']))
data['인구수']

<class 'pandas.core.series.Series'>

0      202520
1       25589
2       86747
3       63986
4       76733
        ...
224    127462
225     34480
226     62809
227    790216
228    198077
Name: 인구수, Length: 229, dtype: int64

In [16]:
# 인구수 컬럼의 집계함수
print(f"인구수 최대값 {data['인구수'].max():,}")
print(f"인구수 최소값 {data['인구수'].min():,}")
print(f"인구수 평균 {round(data['인구수'].mean()):,}")
print(f"인구수 표준편차 {round(data['인구수'].std()):,}")
print(f"인구수 중간값 {data['인구수'].median():,}")
data['인구수'].quantile([0.25, 0.75])

인구수 최대값 1,125,461
인구수 최소값 8,392
인구수 평균 211,090
인구수 표준편차 207,438
인구수 중간값 140,159.0

0.25     49559.0
0.75    321618.0
Name: 인구수, dtype: float64

In [17]:
# 인구수가 가장 많은 행정구역?
max_prop = data['인구수'].max()
#data['인구수'] == max_prop
data.loc[data['인구수'] == max_prop]

    Unnamed: 0      인구수 shortName  x  y      면적 광역시도 행정구역
30          30  1125461        수원  6  9  121.09  경기도  수원시

In [18]:
# 인구수가 가장 적은 행정구역?
min_prop = data['인구수'].min()
data.loc[data['인구수'] == min_prop]

    Unnamed: 0   인구수 shortName   x  y     면적  광역시도 행정구역
83          83  8392        울릉  13  6  72.82  경상북도  울릉군

In [19]:
# unique한 광역시도명
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [20]:
# 광역시도별 Row Counting
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [21]:
#경기도에 속한 행정구역명, 인구수, 면적 선택하기
#data.loc[row , col]
gy_df=data.loc[data['광역시도'] == '경기도',['행정구역','인구수','면적']].sort_values(by='인구수',ascending=False)\
.reset_index(drop=True)
gy_df['인구수2']=gy_df['인구수'].map('{:,}'.format)
gy_df['면적2']=gy_df['면적'].map('{:.2f}'.format)
gy_df

    행정구역      인구수       면적       인구수2     면적2
0    수원시  1125461  121.090  1,125,461  121.09
1    고양시   955384  267.330    955,384  267.33
2    용인시   915005  591.500    915,005  591.50
3    성남시   911628  141.820    911,628  141.82
4    부천시   805473   53.440    805,473   53.44
5    안산시   668089  144.780    668,089  144.78
6   남양주시   610300  458.440    610,300  458.44
7    안양시   566558   58.520    566,558   58.52
8    화성시   555129  688.100    555,129  688.10
9    평택시   423763  452.310    423,763  452.31
10  의정부시   408220   81.590    408,220   81.59
11   파주시   385528  672.560    385,528  672.56
12   시흥시   381412  134.400    381,412  134.40
13   광명시   327111   38.500    327,111   38.50
14   김포시   326523  276.640    326,523  276.64
15   광주시   290210  431.840    290,210  431.84
16   군포시   273302   36.350    273,302   36.35
17   오산시   200793   42.740    200,793   42.74
18   양주시   191266  310.310    191,266  310.31
19   이천시   190537  461.020    190,537  461.02
20   구리시   175676   33.300    175,676   33.30
21   안성시   173061  554.200    173,061  554.20
22   하남시   150061   93.100    150,061   93.10
23   의왕시   149080   54.000    149,080   54.00
24   포천시   140159  826.380    140,159  826.38
25   여주시   100669  608.640    100,669  608.64
26   양평군    95614  877.080     95,614  877.08
27  동두천시    90398   95.680     90,398   95.68
28   과천시    63227   35.813     63,227   35.81
29   가평군    53497  843.040     53,497  843.04
30   연천군    41076  695.230     41,076  695.23

In [22]:
data['면적'].max()

1817.94

In [23]:
area_1000 = data.loc[data['면적'] > 1000]
#df.loc[df['A'] > 2, 'B'] = new_val
area_1000.loc[:,'면적2']=area_1000['면적'].map('{:,.2f}'.format)
area_1000

C:\Users\vega2\AppData\Local\Temp\ipykernel_14796\352860299.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  area_1000.loc[:,'면적2']=area_1000['면적'].map('{:,.2f}'.format)

    Unnamed: 0     인구수 shortName   x   y       면적  광역시도 행정구역       면적2
0            0  202520        강릉  11   4  1040.07   강원도  강릉시  1,040.07
3            3   63986        삼척  11   8  1185.80   강원도  삼척시  1,185.80
7            7   34966        영월  10   8  1127.36   강원도  영월군  1,127.36
9            9   29260        인제   9   2  1646.08   강원도  인제군  1,646.08
10          10   34242        정선  11   6  1220.67   강원도  정선군  1,220.67
12          12  264144        춘천  10   3  1116.35   강원도  춘천시  1,116.35
14          14   38439        평창  10   6  1463.65   강원도  평창군  1,463.65
15          15   62957        홍천  10   4  1817.94   강원도  홍천군  1,817.94
68          68  242618        경주  12  12  1323.85  경상북도  경주시  1,323.85
72          72  127941        김천   8  11  1009.56  경상북도  김천시  1,009.56
74          74   30287        봉화  11   9  1201.00  경상북도  봉화군  1,201.00
75          75   93305        상주   8   9  1254.82  경상북도  상주시  1,254.82
77          77  157317        안동  10  10  1519.00  경상북도  안동시  1,519.00
85          85   48776        의성  10  11  1175.89  경상북도  의성군  1,175.89
89          89  488395        포항  12  11  1127.00  경상북도  포항시  1,127.00

In [24]:
#경기도 인구수의 평균과 표준편차
print(f"경기도 인구수 평균 = {gy_df['인구수'].mean()}")
print(f"경기도 인구수 편차 = {gy_df['인구수'].std()}")

경기도 인구수 평균 = 378845.48387096776
경기도 인구수 편차 = 304548.39514203876

In [25]:
#광역시도명을 인자로 받아서 해당 광역시에 속한 행정구역들의 인구수의 평균과 편차 구하기
def pop_mean_std(sido_name):
    sido_df = data.loc[data['광역시도'] == sido_name,'인구수':'행정구역']
    print(f"{sido_name} 인구수 평균 = {sido_df['인구수'].mean()}")
    print(f"{sido_name} 인구수 편차 = {sido_df['인구수'].std()}")

In [26]:
pop_mean_std('서울특별시')

서울특별시 인구수 평균 = 375792.28
서울특별시 인구수 편차 = 125231.24797500289

In [27]:
pop_mean_std('부산광역시')

부산광역시 인구수 평균 = 207724.4375
부산광역시 인구수 편차 = 106246.04138380481

In [28]:
for sido_name in data['광역시도'].unique():
    pop_mean_std(sido_name)

강원도 인구수 평균 = 79413.22222222222
강원도 인구수 편차 = 87316.38323837094
경기도 인구수 평균 = 378845.48387096776
경기도 인구수 편차 = 304548.39514203876
경상남도 인구수 평균 = 174693.72222222222
경상남도 인구수 편차 = 245796.4650767224
경상북도 인구수 평균 = 109085.39130434782
경상북도 인구수 편차 = 124954.74088490057
광주광역시 인구수 평균 = 287641.8
광주광역시 인구수 편차 = 137076.68320578814
대구광역시 인구수 평균 = 297306.25
대구광역시 인구수 편차 = 174375.39437968715
대전광역시 인구수 평균 = 293535.4
대전광역시 인구수 편차 = 111853.57188217103
부산광역시 인구수 평균 = 207724.4375
부산광역시 인구수 편차 = 106246.04138380481
서울특별시 인구수 평균 = 375792.28
서울특별시 인구수 편차 = 125231.24797500289
세종특별자치시 인구수 평균 = 191233.0
세종특별자치시 인구수 편차 = nan
울산광역시 인구수 평균 = 221117.0
울산광역시 인구수 편차 = 64163.28658196991
인천광역시 인구수 평균 = 276657.5
인천광역시 인구수 편차 = 199353.5964908417
전라남도 인구수 평균 = 77298.31818181818
전라남도 인구수 편차 = 74413.25322969875
전라북도 인구수 평균 = 124217.71428571429
전라북도 인구수 편차 = 168327.13482128442
제주특별자치도 인구수 평균 = 287936.5
제주특별자치도 인구수 편차 = 201620.89205362622
충청남도 인구수 평균 = 129741.93333333333
충청남도 인구수 편차 = 141125.1080796583
충청북도 인구수 평균 = 134974.54545454544
충청북도 인구수 편차 = 223460.35665744546

### Data Selection
* loc[] 과 iloc[] 사용하기

In [29]:
#loc[] 사용
#인덱스가 20 부터 25까지
data.loc[20:25]

    Unnamed: 0     인구수 shortName  x  y       면적 광역시도 행정구역
20          20   63227        과천  7  7   35.813  경기도  과천시
21          21  327111        광명  3  3   38.500  경기도  광명시
22          22  290210        광주  8  7  431.840  경기도  광주시
23          23  175676        구리  9  4   33.300  경기도  구리시
24          24  273302        군포  5  8   36.350  경기도  군포시
25          25  326523        김포  2  3  276.640  경기도  김포시

In [30]:
#iloc[] 사용
#인덱스가 20 부터 25까지
data.iloc[20:25]

    Unnamed: 0     인구수 shortName  x  y       면적 광역시도 행정구역
20          20   63227        과천  7  7   35.813  경기도  과천시
21          21  327111        광명  3  3   38.500  경기도  광명시
22          22  290210        광주  8  7  431.840  경기도  광주시
23          23  175676        구리  9  4   33.300  경기도  구리시
24          24  273302        군포  5  8   36.350  경기도  군포시

In [31]:
#iloc[] 사용
#인덱스가 20 부터 25까지 컬럼이 인구수부터 행정구역 까지
data.iloc[20:25,1:8]

       인구수 shortName  x  y       면적 광역시도 행정구역
20   63227        과천  7  7   35.813  경기도  과천시
21  327111        광명  3  3   38.500  경기도  광명시
22  290210        광주  8  7  431.840  경기도  광주시
23  175676        구리  9  4   33.300  경기도  구리시
24  273302        군포  5  8   36.350  경기도  군포시

In [32]:
#loc[] 사용
#index가 40,55,60 이고, column이 인구수,광역시도,행정구역
data.loc[[40,55,60],['인구수','광역시도','행정구역']]

       인구수  광역시도 행정구역
40  915005   경기도  용인시
55  106388  경상남도  사천시
60   56734  경상남도  창녕군

In [33]:
#인덱스가 0인 행 하나만 선택
print(type(data.loc[0]))
data.loc[0]

<class 'pandas.core.series.Series'>

Unnamed: 0          0
인구수            202520
shortName          강릉
x                  11
y                   4
면적            1040.07
광역시도              강원도
행정구역              강릉시
Name: 0, dtype: object

In [34]:
#열 하나만 선택
print(type(data['면적']))
data['면적'].head()

<class 'pandas.core.series.Series'>

0    1040.07
1     664.19
2     180.01
3    1185.80
4     105.25
Name: 면적, dtype: float64

#### 컬럼명 변경하기
* rename() 함수
   - inplace=False(default) 원본 DataFrame객체를 변경 하지는 않고, 변경한 결과를 출력하기
   - inplace=True  원본 DataFrame객체를 변경하고, 변경한 결과를 출력하지 않는다.

In [35]:
data.columns

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

In [36]:
# 'Unnamed: 0' 컬럼명을 'seq' 로 변경하기
data.rename(columns={'Unnamed: 0':'seq'}, inplace=True)

In [37]:
data.head(2)

   seq     인구수 shortName   x  y       면적 광역시도 행정구역
0    0  202520        강릉  11  4  1040.07  강원도  강릉시
1    1   25589    고성(강원)   9  0   664.19  강원도  고성군

#### DataFrame을 Excel file로 저장하기
* 인구수가 전국평균보다 작은 지역의 광역시도,행정구역,인구수를 선택해서 DataFrame을 생성하기
* DataFrame의 to_excel() 함수 사용

In [42]:
pop_mean_value=data['인구수'].mean()
print(pop_mean_value)
print(round(pop_mean_value))
print(f'{pop_mean_value:.2f}')

pop_mean_lt_df = data.loc[data['인구수'] < pop_mean_value,['광역시도','행정구역','인구수']]\
.sort_values(by=['광역시도','인구수'],ascending=[True,False])\
.reset_index(drop=True)
pop_mean_lt_df
#excel 파일로 저장
pop_mean_lt_df.to_excel('data/평균인구수미만지역.xlsx')

211089.77729257641
211090
211089.78

### GroupBy 기능 사용하기
* 광역시도별 행정구역의 인구수 합계
* ~별에 해당하는 컬럼명이나 컬럼값을 groupby() 함수의 인자로 전달한다. 
* Series 객체의 groupby(data['광역시도']) 함수는 컬럼의 값을 인자로 전달하고 
* DataFrame 객체의 groupby('광역시도') 함수는 컬럼명을 인자로 전달합니다.

In [45]:
# Series 객체 사용 - 광역시도별 인구수의 합계 
# SeriesGroupBy object
data['인구수'].groupby(data['광역시도']).sum().sort_values(ascending=False)

광역시도
경기도        11744210
서울특별시       9394807
부산광역시       3323591
경상남도        3144487
인천광역시       2766575
경상북도        2508964
대구광역시       2378450
충청남도        1946129
전라북도        1739048
전라남도        1700563
충청북도        1484720
대전광역시       1467677
광주광역시       1438209
강원도         1429438
울산광역시       1105585
제주특별자치도      575873
세종특별자치시      191233
Name: 인구수, dtype: int64

In [48]:
# DataFrame 객체 사용 - 광역시도별 인구수의 합계 
# DataFrameGroupBy object
data.groupby('광역시도').sum(numeric_only=True)

          seq       인구수    x    y         면적
광역시도
강원도       153   1429438  173   68  16874.810
경기도      1023  11744210  182  162  10179.743
경상남도     1035   3144487  123  313  10437.460
경상북도     1794   2508964  229  240  19021.850
광주광역시     460   1438209   12   99    501.280
대구광역시     788   2378450   74  111    885.690
대전광역시     525   1467677   23   66    539.640
부산광역시    1848   3323591  162  276    763.240
서울특별시    3400   9394807  142  111    605.390
세종특별자치시   149    191233    4   11    465.230
울산광역시     760   1105585   58   71    980.220
인천광역시    1595   2766575   13   61   1022.910
전라남도     3861   1700563   44  438  12008.390
전라북도     2709   1739048   46  219   7907.220
제주특별자치도   403    575873    8   49   1848.480
충청남도     3150   1946129   39  160   8272.270
충청북도     2453   1484720   69  124   7397.310

In [50]:
data.groupby('광역시도')['인구수'].sum().sort_values(ascending=False)

광역시도
경기도        11744210
서울특별시       9394807
부산광역시       3323591
경상남도        3144487
인천광역시       2766575
경상북도        2508964
대구광역시       2378450
충청남도        1946129
전라북도        1739048
전라남도        1700563
충청북도        1484720
대전광역시       1467677
광주광역시       1438209
강원도         1429438
울산광역시       1105585
제주특별자치도      575873
세종특별자치시      191233
Name: 인구수, dtype: int64

In [51]:
# 광역시도별 행정구역별 인구수의 합계
group_df = data.groupby(['광역시도','행정구역'])['인구수'].sum()
group_df

광역시도  행정구역
강원도   강릉시     202520
      고성군      25589
      동해시      86747
      삼척시      63986
      속초시      76733
               ...
충청북도  제천시     127462
      증평군      34480
      진천군      62809
      청주시     790216
      충주시     198077
Name: 인구수, Length: 229, dtype: int64

In [52]:
group_df.to_excel('data/광역시도별행정구역별인구수의합계.xlsx', sheet_name='인구수')

#### 엑셀 수치데이터에 콤마찍기
* [ExcelWriter](https://pandas.pydata.org/docs/reference/api/pandas.ExcelWriter.html)

In [53]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\users\vega2\anaconda3\lib\site-packages (3.1.2)

In [54]:
!pip show xlsxwriter

Name: XlsxWriter
Version: 3.1.2
Summary: A Python module for creating Excel XLSX files.
Home-page: https://github.com/jmcnamara/XlsxWriter
Author: John McNamara
Author-email: jmcnamara@cpan.org
License: BSD-2-Clause
Location: c:\users\vega2\anaconda3\lib\site-packages
Requires:
Required-by:

In [55]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('data/광역시도별인구수의합계1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
group_df.to_excel(writer, sheet_name='인구수합계')

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['인구수합계']

# Set a currency number format for a column.
num_format = workbook.add_format({'num_format': '#,###'})
worksheet.set_column('C:C', None, num_format)

# Close the Pandas Excel writer and output the Excel file.
writer.close() #_save()

#### 상관계수 (Correlation Coefficient)
* 인구수와 면적 데이터간에 관련성이 있는지 살펴보기 위해서 상관계수 구하기
* 상관계수 값은 -1 ~ 1 사이의 값이며, 0에 가까울 수록 관련성이 낮고, 1에 가까울 수록 관련성이 높다. 
* 음수는 반비례 (면적이 넓은 반면 인구수는 적은 경우), 양수는 비례 (면적이 넓고, 인구수도 높은 경우)
* corr() 함수